# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\houki\Documents\ApplicationFiles\JavaProject\PatrollingSystem\TheBackend\PatrolSystem-v02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
